body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f2e9;
}

h1, h2 {
  color: #2c2c2c;
}

form {
  background: #f5f1dc;
  padding: 15px;
  width: 300px;
  margin: 30px auto;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  text-align: center;
}

input {
  width: 90%;
  padding: 8px;
  margin: 6px 0;
}

button {
  background-color: #c2a36b;
  color: white;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
}

button:hover {
  background-color: #a88b55;
}