.dashboard-layout{
display:flex;
flex-direction:column;
min-height:100vh;
}

.dashboard-body{
display:flex;
flex:1;
}

.sidebar{
width:200px;
background:#4a4a1f;
color:white;
font-size:14px;
padding-top:10px;
}

.dashboard-content{
flex:1;
padding:10px 15px;
background:#d9d0a5;
overflow:auto;
}
footer{
margin-top:auto;
}