.dashboard-layout{
display:flex;
flex-direction:column;
min-height:100vh;
background: #f2f4f8;
}

.dashboard-body{
display:flex;
flex:1;
}

.sidebar{
width:200px;
background:#e2e8f0;
color:#111827;
font-size:14px;
padding-top:10px;
}

.dashboard-content{
flex:1;
padding:10px 15px;
background:#f2f4f8;
overflow:auto;
}
footer{
margin-top:auto;
}